header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  transition: 1;
}

header.showdown {
  background: var(--blackColor);
  transition: 0.7s;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--inputColor);
  display: flex;
  align-items: center;
  counter-reset: 0.5rem;
}
.logo .bx {
  font-size: 24px;
  color: var(--whiteColor);
}

.navbar {
  display: flex;
  column-gap: 5rem;
}

.navbar li {
  position: relative;
}

.navbar a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--whiteColor);
}

.navbar a:hover {
  color: var(--hover);
}

.navbar a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--hover);
  position: absolute;
  bottom: -4px;
  left: 0px;
  top: 25px;
  transition: 0.2s all linear;
}

.navbar a:hover::after,
.navbar .active::after {
  width: 50%;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  z-index: 100001;
  display: none;
}

.btn {
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid var(--whiteColor);
}

.btn svg {
  color: var(--whiteColor);
}
.btn:hover {
  border: 2px solid var(--hover);
}

.btn svg:hover {
  color: var(--hover);
}

/* Search */
.search {
  width: 30%;

  position: relative;
  display: flex;
  justify-content: flex-end; /* Đẩy nội dung sang bên phải */
  align-items: center;
  /* font-size: 4rem; */
  z-index: 10;
  cursor: pointer;
  color: var(--whiteColor);
  margin-right: 20px;
}

.search .icon {
  border: 2px solid var(--whiteColor);
  border-radius: 50%;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search.active-search {
  color: var(--blackColor);
}

.searchBox {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  top: 70px;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}

.searchBox.active-search {
  position: absolute;
  right: 0;
  width: 100%;
  height: 90%;
  top: 70px;
  display: flex;
  background: #f7f7f7;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}

.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  height: 50px;
  font-size: 1.25em;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.search svg:first-child {
  font-size: 3rem;
  position: relative;
  left: 3.5px;
  top: -2px;
  transition: 0.5s ease-in-out;
}

.search svg:first-child:hover {
  color: var(--hover);
}

.search svg:last-child {
  opacity: 0;
  visibility: hidden;
  scale: 0;
  transform: 0.5s;
}

@media only screen and (max-width: 1024px) {
  header {
    padding: 12px 4%;
  }
  header.shadow .menu-icon {
    color: var(--blackColor);
  }

  .menu-icon {
    width: 100%;
    position: relative;
    display: flex;
    color: var(--whiteColor);
    align-items: center;
    justify-content: flex-end;
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    row-gap: 1.4rem;
    box-shadow: 4px 4px 0 4px rgb(14 55 54/ 15%);
    transition: 0.5s all linear;
    text-align: center;
  }
  .navbar a {
    color: var(--blackColor);
  }

  .navbar a:hover {
    padding-bottom: 5px;
    color: var(--hover);
    border-bottom: 2px solid var(--hover);
  }
  .navbar a::after {
    display: none;
  }
  .navbar.active {
    top: 100%;
  }

  /* search */
  .search {
    width: 100%;
    justify-content: flex-end;
  }
}
